.header{
    margin-top: -15px;
    width: 100%;
    height: 80px;
    line-height:80px;
}

.menu{
    margin-bottom:0;
}
.logo img{
    width: 30%;
    height: 35%;
}
.nav_btns button{
    background: orangered;
    text-decoration: none;
    color: white;
}
.nav_btns button:hover{
    background: orangered;
}
.lin{
    text-decoration:none;
  color: white;
}
.lin:hover{
    color: black;
}
.nav_item a{
    text-decoration: none;
    color:black;
    
    font-weight: 500;
    font-size: 1.1rem;
}
/* .nav_item a:hover{
    color: inherit;
} */

.nav_item a.active_link{
 color:orangered;
 
}

.mobile_menu{
    font-size: 1.3rem;
    color:orangered;
    display: none;
}
.navigation li{
    
    list-style-type:none;
}
.all{
    margin-top: -15px;
}

/* .btn{
    color:orangered;
} */
 /* .nav_btns button :hover{
    background: orangered;
}  */


.sticky_header{
    width:100%;
    height: 120px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:3px 3px 8px -3px #ddd ;
    z-index: 999;
}